body, html {
    background-color: #f6f6f6;
}
#painting{
	height: 400px;
	width: 400px;
	background-color: #fff4db;
	margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}
#toprow {
    height: 290px;
}
#bigbox {
    width: 290px;
    height: 290px;
}
.red{
	background-color: #cc3333;
}
.blue{
	background-color: #0000ff;
}
.yellow{
	background-color: #ffff00;
}
.black{
	background-color: #000000;
}
.right{
	float:right;
}
#divider1{
	height: 290px;
	width:10px;
}
.mediumbox {
    width: 100px;
    height: 140px;
}
#divider2 {
    height: 10px;
    width: 100px;
}
#middlerow{
	height:10px;
}
#littlebox{
	width: 20px;
	height: 45px;
}
#bottomrow{
	height: 100px;
	width: 400px;
}
#topleftcolumn{
	height: 290px;
}
#bottomrightcolumn{
	height: 100px;
	width: 20px;
}
#divider4{
	height: 10px;
    width: 20px;
}
#divider3{
	height: 100px;
	width: 10px;
}
#box1{
	height: 100px;
	width: 260px;
}
#box2{
	height: 100px;
	width: 100px;
}
a{
	text-align: center;
	border: 2px black solid;
	padding: 3px;
	margin: 0 auto;
	background-color: pink;
}