h1{
	text-align: center;
	color:  #ffffff;
	font-size: 40px;
}
h2{
	text-align: left;
	color: 	#00ff00;
	font-size: 25px;
}
h3{
	text-align: left;
	color: #ff0000;
	font-size: 34px;
}
img{
	border: 5px black solid;
	width:300px;
}
p{
	font-size: 25px;
	color:  #ff33cc;
}
.cleared{
	display: flow-root;
}
.colr{
	float: right;
	width: 50%;
}
.coll{
	float: left;
	width: 40%;
}
section{
	background-color: #9900cc;
	padding: 10px;
	margin-bottom: 10px;
}
.floatl{
	float: left;
}
.floatr{
	float: right;
}
video{
	width: 300px;
}
footer	{
	background-color: #AA0000;
	text-align:center;
	color: white;
	width: 80%;
	margin: 0 auto;
	padding: 15px;
}
article{
	font-variant: bold;
	font-size: 22px;
}
h4{
	text-align: center;
	font size:20px;
	color: #00ffff;
}
li{
	color:#ffff00;
	font-size: 25px;
}
ul{
	border: 5px dotted;
}
.floatc{
	float: center;
}
a{
	text-align: center;
	border: 2px black solid;
	padding: 3px;
	margin: 0 auto;
	background-color: pink;
}
body{
	background-color:#3399ff;
}
