h1{
	color: red;
}
h2{
	color: blue;
}
li{
	color:orange;
	font-size: 30px;
}
p {
	color:purple;
	font-size: 20px; 
}
a{
	color:black;
	font-size: 18px; 
	text-align: left;
	border: 2px black solid;
	padding: 3px;
	margin: 0 auto;
	background-color: pink;
}